# Diagnose data for Cleaning

In [40]:
import pandas as pd
df1 = pd.read_csv('airquality.csv')

### Visually inspect

In [41]:
df1.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [42]:
df1.tail()

     Ozone  Solar.R  Wind  Temp  Month  Day
148   30.0    193.0   6.9    70      9   26
149    NaN    145.0  13.2    77      9   27
150   14.0    191.0  14.3    75      9   28
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [43]:
df1.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [44]:
df1.shape

(153, 6)

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

## Frequency counts

In [46]:
df1.Ozone.value_counts(dropna=False).head()

NaN      37
 23.0     6
 21.0     4
 13.0     4
 20.0     4
Name: Ozone, dtype: int64

In [ ]:
df1.Solar.R.value_counts(dropna=False).head()

In [ ]:
df1.Wind.value_counts(dropna=False).head()

In [ ]:
df1.Temp.value_counts(dropna=False).head()

In [ ]:
df1.Month.value_counts(dropna=False).head()

In [ ]:
df1.Day.value_counts(dropna=False).head()

In [ ]:
df1.describe()

In [ ]:
import matplotlib.pyplot as plt
df1.Ozone.plot('hist')
plt.show()

In [ ]:
df1.Wind.plot('hist')
plt.show()

In [ ]:
df1.Temp.plot('hist')
plt.show()

### check outlier

In [ ]:
df1[df1.Ozone>100]

In [ ]:
df1.boxplot(column='Temp', by='Month')
plt.show()

## Data Restaurant Tips

In [ ]:
df_